*{
  margin: 0;
  padding: 0;
}

.root_frame{
  background-color: #000000;
  opacity: .6;
  .nav_bar{
    position: relative;
    height: 59px;
    width: 100%;
    border-bottom: 1px solid orangered;
    .nav_bar--icon{
      display: inline-block;
      width: 100px;
      height: 40px;
      margin-left: 10px;
      margin-top: 10px;
      border: 1px solid #cccccc;
    }
    .nav_bar--portrait{
      float: right;
      position: relative;
      width: 40px;
      height: 40px;
      margin-right: 40px;
      margin-top: 10px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
        .nav_bar--portrait--down__menu{
          display: block;
        }
      }
      &--down__menu{
        position: absolute;
        right: 41px;
        top: 8px;
        list-style: none;
        color: #ffffff;
        opacity: 0;
        width: 240px;
        border: 1px solid #cccccc;
        li{
          float: left;
          width: 80px;
          line-height: 24px;
          font-size: 14px;
          text-align: center;
          &:hover{
            background-color: antiquewhite;
            color: #000000;
          }
        }
      }
    }
  }
  .root_frame__main{
    display: flex;
    .root_frame__main--slid{
      width: 120px;
      height: 540px;
      border-right: 1px solid orangered;
      .root_frame__main--slid__list{
        list-style: none;
        .folder__menu{
          font-size: 14px;
          font-weight: 200;
          padding-left: 8px;
          line-height: 28px;
          color: #ffffff;
          &:hover{
            cursor: pointer;
          }
        }
        li{
          line-height: 28px;
          &:hover{
            cursor: pointer;
          }
          a{
            text-decoration: none;
            font-size: 14px;
            font-family: monospace;
          }
        }
      }
    }
    .root_frame__main--content{
      padding: 8px 15px;
      color: #ffffff;
    }
  }
}